.banner .swiper {
  width: 240px;
  height: 320px;
}
  
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
  
.banner .swiper-slide:nth-child(1n) {
  background-image: url('src/assets/Books/Book1.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(2n) {
  background-image: url('/frontend/src/assets/Books/Book1.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(3n) {
  background-image: url('src/assets/Books/Book3.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(4n) {
  background-image: url('src/assets/Books/Book4.jpeg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(5n) {
  background-image: url('src/assets/Books/Book5.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(6n) {
  background-image: url('src/assets/Books/Book6.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(7n) {
  background-image: url('src/assets/Books/Book7.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(8n) {
  background-image: url('src/assets/Books/Book8.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(9n) {
  background-image: url('src/assets/Books/Book9.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(10n) {
  background-image: url('src/assets/Books/Book10.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}

.banner .swiper-slide:nth-child(11n) {
  background-image: url('src/assets/Books/Book11.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(12n) {
  background-image: url('src/assets/Books/Book12.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(13n) {
  background-image: url('src/assets/Books/Book13.jpeg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(14n) {
  background-image: url('src/assets/Books/Book14.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(15n) {
  background-image: url('src/assets/Books/Book15.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(16n) {
  background-image: url('src/assets/Books/Book16.png');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(17n) {
  background-image: url('src/assets/Books/Book17.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(18n) {
  background-image: url('src/assets/Books/Book18.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(19n) {
  background-image: url('src/assets/Books/Book19.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}
  
.banner .swiper-slide:nth-child(20n) {
  background-image: url('src/assets/Books/Book20.jpg');
  background-size: 240px 320px;
  width: 240px;
  height: 320px;
}